:root{

    --color-fondo:#F8F9FA;

    --color-principal:#222222;

    --color-secundario:#666666;

    --color-acento:#C8A96A;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:var(--color-fondo);

    color:var(--color-principal);

    font-family:Arial, Helvetica, sans-serif;

    text-align:center;

    padding-top:80px;

}

h1{

    font-size:48px;

    margin-bottom:20px;

}

p{

    color:var(--color-secundario);

    font-size:20px;

    margin:12px 0;

}

hr{

    width:300px;

    margin:40px auto;

}

header{

    margin-bottom:60px;

}

main{

    width:700px;

    margin:auto;

}

section{

    background:white;

    padding:40px;

    border-radius:16px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

h2{

    margin-bottom:25px;

}

ul{

    list-style:none;

}

li{

    padding:18px;

    margin:12px 0;

    background:#EFEFEF;

    border-radius:10px;

    transition:.25s;

}
